*,
*::after,
::before {
  box-sizing: border-box; /* Makes sizing my width & height easier */
}

:root {
  /* Where we can put css vairables that go across our entire application */
  /* HSL Color Format*/
  --hue: 200; /* Blue, modifying this in our JS*/
  --saturation: 50%;
  /* Get hue and saturation portion and specify our lightness value(75% because we want our fground color to be a very light color*/
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(
    var(--hue),
    var(--saturation),
    20%
  ); /* Much darker at 20% */
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.paddle {
  --position: 50; /* Setting this & changing this in our JS (css variable) */
  position: absolute;
  background-color: var(--foreground-color);
  /* Top of paddle is Positioned in the center */
  /* Use that variable(position)& convert that to a vh value using CALC */
  top: calc(var(--position) * 1vh);
  /* Moves it back up half of its own height. Middle of paddle is Positioned in the center of the screen. Y axis is vertical */
  transform: translateY(-50%);
  width: 1vh; /* Paddle is always 10x higher than it is wide */
  height: 10vh; /* Using vh because I want the paddle to be 10% of the screen, no matter what size screen we play on */
}

.paddle.left {
  left: 1vw; /* One percent of the screen width away from the left-hand side */
}

.paddle.right {
  right: 1vw; /* One percent of the screen width away from the right-hand side */
}

.ball {
  --x: 50; /* Start at 50 to start at the center */
  --y: 50; /* Start at 50 to start at the center */
  position: absolute;
  background-color: var(--foreground-color);
  /* Top of paddle is Positioned in the center */
  /* Use that variable(position)& convert that to a vh value using CALC */
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  border-radius: 50%; /* Makes it a circle */
  /* perfect dead center, -50% in x and y direction */
  transform: translateY(-50%, -50%);
  width: 2.5vh; /* perfect circle  */
  height: 2.5vh; /* perfect circle */
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh; /* Make it scale with screen size */
  color: var(--foreground-color); /* Color changes alongside color of paddles */
}

.score > * {
  /* > * means for every direct child of score div */
  padding: 0 2vh; /* space between elements */
  margin: 1vh 0; /* 1vh top/bottom 0 left/right */
  opacity: 0.5;
}

#player-score {
  /* Makes sure one half of screen is taken up by one score and the other half of the screen has the other score */
  flex-grow: 1;
  flex-basis: 0;
  text-align: right; /* Makes sure 1st score is next to computer score */
  border-right: 0.5vh solid var(--foreground-color);
}

#computer-score {
  /* Makes sure one half of screen is taken up by one score and the other half of the screen has the other score */
  flex-grow: 1;
  flex-basis: 0;
}
